:root {
  /* Overrides of Blackthorn defined variables */
    --primaryFontFace: AzoSansWebLight !important;
    --primaryColor: #BC9D58 !important;
    --primaryTextColor: #BC9D58 !important;
    --primaryColorContrast: #333333 !important;

    --surfaceTextColor: #333333 !important;
    --surfaceTextSemiMutedColor: #666666 !important;
    --surfaceTextMutedColor: #c8c8c8  !important;
    --surfaceBkgdColor: #ffffff !important;
  
    --backgroundColor: #fafbfd !important;

    --warningColorModifier1: #BC9D58 !important;
 
   /* Custom variables used below */

  --headerTextColor: #ffffff !important;
  --headerTextMutedColor: #a4a4a4 !important;
  --headerBkgdColor: #333333 !important;
}

@font-face {
    font-family: AzoSansWebReg;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: AzoSansWebLight;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-light.otf') format('opentype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: AzoSansWebMed;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-medium.otf') format('opentype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: AzoSansWebBold;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-bold.otf') format('opentype');
    font-weight: 800;
  }
  
body {
    font-family:var(--primaryFontFace);
}

.appbar {
  background-color: var(--headerBkgdColor) !important;
}

.appbar h1 {
  color: var(--headerTextColor) !important;
}

.appbar-title {
  font-size:2.0em !important;
  color: var(--headerTextColor) !important;
}

.appbar-header {
    max-width: 88rem !important;
}

.appbar-header h1.title {
    font-size:2.0em !important;
    color: var(--headerTextColor) !important;
}

.search-result {
  background-color: var(--backgroundColor) !important;
}

/* Menu div */
.nav-container {
  background-color:var(--headerBkgdColor) !important;
}

.mat-tab-links a.mat-tab-link:hover {
    color: var(--headerTextColor) ;
}

.mat-tab-links a.mat-tab-link {
  color: var(--headerTextMutedColor);
}

.mat-tab-links a.active {
color: var(--headerTextColor);
}

.product-item__day {
  background-color: var(--surfaceVariantBkgdColor) !important;
  border-radius: .3125rem !important;
}

.mat-icon {
    color: var(--primaryColor) !important;
  }

.material-icons {
    color: var(--primaryColor) !important;
  }

bt-event-custom-tab {
    /*max-width: 100% !important;*/
    padding: 1.5rem 3.0rem 45vh !important;
  }
  
bt-event-faq div.container {
    /*max-width: 100% !important;*/
    padding: 1.5rem 3.0rem 45vh !important;
  }

bt-event-speakers main.container {
    max-width: 100% !important;
    padding: 1.5rem 3.0rem 45vh !important;
  }

bt-event-sponsors main.container {
    max-width: 100% !important;
    padding: 1.5rem 3.0rem 45vh !important;
  }

  /* Hides the Contat Information section on the check-out page */
div.checkout-info-container {
  display: none !important;
}

div.inner {
  display: none !important;
}

/*
bt-card-header {
    color: var(--surfaceTextColor) !important;
}*/

@media (min-width: 60rem) {
  div.card-content.cover-image {
    width: 100% !important;
}
}