:root {
  /* Overrides of Blackthorn defined variables */
    --primaryFontFace: AzoSansWebLight !important;
    --primaryColor: #BC9D58 !important;
    --primaryColorContrast: #333333 !important;

    --surfaceTextColor: #333333 !important;
    --surfaceTextSemiMutedColor: #666666 !important;
    --surfaceTextMutedColor: #c8c8c8  !important;
    --surfaceBkgdColor: #ffffff !important;
  
    --backgroundColor: #fafbfd !important;
 
    /* Other Blackthorn values - TBD */
   /* Custom variables used below */

  --headerTextColor: #ffffff !important;
  --headerTextMutedColor: #a4a4a4 !important;
  --headerBkgdColor: #333333 !important;
}

@font-face {
    font-family: AzoSansWebReg, sans-serif;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: AzoSansWebLight, sans-serif ;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-light.otf') format('opentype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: AzoSansWebMed, sans-serif ;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-medium.otf') format('opentype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: AzoSansWebBold, sans-serif ;
    src: url('https://tiger21-llc.github.io/TIGER21-Events/rui-abreu-azosans-bold.otf') format('opentype');
    font-weight: 800;
  }
  
body {
    font-family:var(--primaryFontFace);
}

.appbar[_ngcontent-app-id-c172] {
  background-color: var(--headerBkgdColor) !important;
}

.appbar-header[_ngcontent-app-id-c172] {
    max-width: 88rem !important;
}

.appbar-header[_ngcontent-app-id-c172] h1.title[_ngcontent-app-id-c172] {
    font-size:30px;
    color: var(--headerTextColor);
}

/* Menu div */
.nav-container[_ngcontent-app-id-c172] {
  background-color:var(--headerBkgdColor) !important;
}

.mat-tab-links a.mat-tab-link:hover {
    color: var(--headerTextColor) ;
}

.mat-tab-links a.mat-tab-link {
  color: var(--headerTextMutedColor);
}

.mat-tab-links a.active {
color: var(--headerTextColor);
}


/*
.mat-icon {
    color: var(--surfaceTextColor) !important;
  }


bt-card-header {
    color: var(--surfaceTextColor) !important;
}*/